{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
        {% for name in names %}
            {% if not name == 'John' %}
                <p>{{ name }}</p>
            {% endif %}
        {% endfor %}
        
    {% with a=10 %} 
        <div> value of a: {{a}}</div>
    {% endwith %}
    {{count}}
    
</body>
</html>